<h3>Articles:</h3>

<% @show_all.each do |x| %>

  <h4><%= link_to x.title, article_path(x) %><span> | <%= link_to 'edit', edit_article_path(x) %></span></h4>
  <%= x.text %>
  <br><br><hr>

<% end %>