<h3>Articles:</h3>

<% @show_all.each do |single| %>

  <h4><%= single.title %><span> | <%= link_to 'edit', articles_path + '/' + single.id.to_s + '/edit' %></span></h4>
  <%= single.text %>
  <br><br><hr>

<% end %>